*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    padding: 0.1rem;
    flex-direction: row;
}
.menu{
    flex-direction: row;
}
.main{
    display: flex;
}
.main img{
    width: 45rem;
    height: 45rem;
}
h1{
    padding: 4rem;
}
.main div h3{
    padding: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: bisque;
}
.about img{
    width: 60rem;
}
.about-info{
    grid-column: 2/2;
    padding: 2rem;
    font-size: 2rem;
}
.about-info h2{
    font-size: 4rem;
}
.portafolio{
    font-size: 2.8rem;
}
.portafolio-headin img{
    width: 22rem;
    border: 0.5rem solid brown;  
}
.contacto{
    padding: 2rem;
    font-size: 2rem;
}
.contacto_title img{
    width: 3em;
    border: 0.3rem solid brown;
    height: 3em;
}